.wrapper {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 112px;
    height: 48px;
    border-radius: 24px;
    background: var(--foreground-secondary);
}

.circle {
    position: absolute;
    top: 4px;
    left: var(--scheme-switch-left);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: var(--foreground-primary);
    transition: 0.7s ease-in-out;
    cursor: pointer;
}